<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png"> 
        <link rel="stylesheet" href="/css/style.css">

    </head>


    <body>
        <div class="main-content">

         {{>header}}
         <p>This website created By : Ammar Yasser.
             it uses data from matbox.com and weatherstack.com</p>
        <img class="portrait" src="/img/personal.jpg" alt="">
        </div>
        {{>footer}}
    </body>
</html>